{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <p>
    <b>{{ post.title }}</b><br/>
    {{ post.authors }}<br/>
    In {{ post.venue }}, {{ post.date | date: "%Y" }}

    {% if post.notes %}
      <br/> {{ post.notes }}
    {% endif %}

    {% if post.paper or post.preprint or post.entry or post.gitbook or post.presentation or post.code or post.poster or post.editorial or post.arxiv %}
      <div class="btn-group-xs">
        {% if post.paper %}
          <a class="btn btn-default" href="{{ post.paper }}" target="_blank">paper</a>
        {% endif %}
        {% if post.preprint %}
          <a class="btn btn-default" href="{{ post.preprint }}" target="_blank">preprint</a>
        {% endif %}
        {% if post.entry %}
          <a class="btn btn-default" href="{{ post.entry }}" target="_blank">entry</a>
        {% endif %}
        {% if post.gitbook %}
          <a class="btn btn-default" href="{{ post.gitbook }}" target="_blank">GitBook</a>
        {% endif %}
        {% if post.presentation %}
          <a class="btn btn-default" href="{{ post.presentation }}" target="_blank">presentation</a>
        {% endif %}
        {% if post.code %}
          <a class="btn btn-default" href="{{ post.code }}" target="_blank">source code</a>
        {% endif %}
        {% if post.poster %}
          <a class="btn btn-default" href="{{ post.poster }}" target="_blank">poster</a>
        {% endif %}
        {% if post.editorial %}
          <a class="btn btn-default" href="{{ post.editorial }}" target="_blank">editorial</a>
        {% endif %}
        {% if post.arxiv %}
          <a class="btn btn-default" href="{{ post.arxiv }}" target="_blank">arXiv</a>
        {% endif %}
      </div>
    {% endif %}
  </p>

  </article>
</div>